@import "tailwindcss"; /* Import Tailwind */

/* Import de fontes locais */

@font-face { /* Regular */
  font-family: 'InstrumentSans';
  src: url('/assets/fonts/InstrumentSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face { /* Medium */
  font-family: 'InstrumentSans';
  src: url('/assets/fonts/InstrumentSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face { /* SemiBold */
  font-family: 'InstrumentSans';
  src: url('/assets/fonts/InstrumentSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Variáveis de Ambiente */
:root {
  /* Cores */
  --background: #000000;
  --background-secondary: #080808;
  --background-input: #121212;
  --primary: #3700FF;
  --secondary: #DE771D;
  --tertiary: #171717;
  --border-primary: #1B1B1B;
  --border-secondary: #3B3B3B;
  --border-input: #353535;

  /* Cores de texto */
  --text-primary: #ffffff;
  --text-secondary: #B3B3B3;
  --text-tertiary: #767676;
  --text-input-placeholder: #8A8A8A;

  /* Fontes */
  --font-sans: 'InstrumentSans', Arial, Helvetica, sans-serif;
  --font-regular: 400;
}

@theme {
  /* Backgrounds */
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-background-input: var(--background-input);

  /* Brand */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  /* Borders */
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-input: var(--border-input);

  /* Text */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-placeholder: var(--text-input-placeholder);

  /* Fonts */
  --font-sans: var(--font-sans);
}


/* Estilos Globais Gerais*/
body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-sans);
  font-weight: var(--font-regular);
  overflow-x: hidden;
  
}
